* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  box-sizing: border-box; }

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: #1e1f29;
  color: white;
  height: 100vh; }

.image {
  width: 100%;
  user-select: none; }
  .image--bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }

.heading--primary {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1rem;
  margin-bottom: 8rem;
  position: absolute;
  top: 10rem;
  text-align: center;
  width: 100%; }

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0; }

.attribution a {
  color: #3e52a3; }

.countdown__row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex; }

.countdown .card {
  width: 140px;
  text-align: center;
  position: relative; }
  .countdown .card:not(:last-child) {
    margin-right: 25px; }
  .countdown .card__number-box {
    font-size: 4.5rem;
    line-height: 1;
    background-color: #343650;
    color: #fb6087;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0.1rem 0.8rem 0 #191a24;
    height: 140px;
    position: relative;
    overflow: hidden; }
    .countdown .card__number-box .number {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .countdown .card__number-box:before, .countdown .card__number-box:after {
      content: "";
      background-color: #191a24;
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: absolute;
      top: 50%; }
    .countdown .card__number-box:before {
      left: 0;
      transform: translate(-50%, -50%); }
    .countdown .card__number-box:after {
      right: 0;
      transform: translate(50%, -50%); }
  .countdown .card__text {
    text-transform: uppercase;
    font-size: 12px;
    color: #8486a9;
    letter-spacing: 5px;
    display: inline; }
  .countdown .card__shadow {
    width: 100%;
    height: 50%;
    background-color: rgba(25, 26, 36, 0.3);
    position: absolute;
    z-index: 10; }
