* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'Red Hat Text', sans-serif;
  background-color: #1e1f29;
  color: white;
  height: 100vh; }

.image {
  width: 100vh;
  user-select: none;
  position: absolute; }
  .image--bottom {
    bottom: 0;
    left: 0;
    width: 100%; }
  .image--top {
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover; }

.heading--primary {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1.2rem;
  position: absolute;
  top: -15rem;
  text-align: center;
  width: 100%; }

.footer {
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0; }
  .footer__icon {
    margin-bottom: 2rem; }
    .footer__icon:not(:last-child) {
      margin-right: 2rem; }
  .footer .attribution {
    font-size: 1.1rem;
    text-align: center;
    color: #828d9a; }
  .footer .attribution a {
    color: #b6bfc9;
    text-decoration: none; }

.countdown {
  position: relative;
  top: 0;
  height: 100vh; }
  .countdown__row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; }
  .countdown .card {
    width: 14rem;
    text-align: center;
    position: relative; }
    .countdown .card:not(:last-child) {
      margin-right: 2.5rem; }
    .countdown .card__number-box {
      font-size: 6.5rem;
      line-height: 1;
      background-color: #343650;
      color: #fb6087;
      border-radius: 1rem;
      margin-bottom: 2rem;
      box-shadow: 0.1rem 0.8rem 0 #191a24;
      height: 14rem;
      position: relative;
      overflow: hidden; }
      .countdown .card__number-box .number {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); }
      .countdown .card__number-box:before, .countdown .card__number-box:after {
        content: "";
        background-color: #191a24;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        position: absolute;
        top: 50%; }
      .countdown .card__number-box:before {
        left: 0;
        transform: translate(-50%, -50%); }
      .countdown .card__number-box:after {
        right: 0;
        transform: translate(50%, -50%); }
    .countdown .card__text {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #8486a9;
      letter-spacing: .5rem;
      display: inline; }
    .countdown .card__shadow {
      width: 100%;
      height: 50%;
      background-color: rgba(25, 26, 36, 0.3);
      position: absolute;
      z-index: 10; }
