$mobile-size: 375px;
$desktop-size:  1440px;


///           COLORS

// Primary
$color-grayish-blue: hsl(237, 18%, 59%);
$color-soft-red: hsl(345, 95%, 68%);



/// Neutral
$color-white: hsl(0, 0%, 100%);
$color-desaturated-blue: hsl(236, 21%, 26%);
$color-dark-blue: hsl(235, 16%, 14%);
$color-very-dark-blue: hsl(234, 17%, 12%);



