body {

  font-family: 'Red Hat Text', sans-serif;
  background-color: $color-dark-blue;
  color: $color-white;

}

.image{
  width: 100vw;
  user-select: none;
  position: absolute;
  &--bottom{

    bottom: 0;
    left: 0;
    width: 100%;
  }
  &--top{
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }
}

.heading--primary{
  text-transform: uppercase;
  font-size: $default-font-size;
  letter-spacing: 1.2rem;
  //margin-bottom: 8rem;
  position: absolute;

  top: -15rem;
  text-align: center;
  width: 100%;

  @include respond(tab-land)
  {
    font-size: 3rem;
  }
  @include respond(phone)
  {
    font-size: 1.5rem;
  }
}


