body {

  font-family: 'Red Hat Text', sans-serif;
  background-color: $color-dark-blue;
  color: $color-white;
  height: 100vh;
}

.image{
  width: 100vh;
  user-select: none;
  position: absolute;
  &--bottom{

    bottom: 0;
    left: 0;
    width: 100%;
  }
  &--top{
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
  }
}

.heading--primary{
  text-transform: uppercase;
  font-size: $default-font-size;
  letter-spacing: 1.2rem;
  //margin-bottom: 8rem;
  position: absolute;

  top: -15rem;
  text-align: center;
  width: 100%;
}


